.App{
background-image: url("../public/pokedexupscaled.jpeg");
background-repeat: no-repeat;
background-size: 114rem;
background-position-x: 39%;
background-position-y: -68%;
}

.container{
  width: 90%;
  display: flex;
  /* column-gap: 20%; */
}

.left-content{
  width: 50%;
  display: flex;
  justify-content: center;
}

.right-content{
  width: 23.5%;
  display: flex;
  justify-content: center;
  margin-top: 4.5%;
  margin-left: 30%;
}

.pokemon-list{
  display: grid;
  grid-template-columns: repeat(4, 7rem);
  text-transform: capitalize;
  text-align: center;
  grid-gap: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 10%;

}


.pokemon-item{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 2.19rem;
  background-color: #54a3aa;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  padding: 0 1.5rem;

}

.poke-pic{
  height: 15%;
  width: 85%;
}
.poke-pic-box{
  margin-top: 15%;
  margin-left: 23%
}