.App{
background-image: url("../public/pokedex.jpg");
background-repeat: no-repeat;
background-size: 120%;
background-position-x: -120px;
background-position-y: -500px;
}

.container{
  width: 90%;
  display: flex;
  column-gap: 80px;
}

.left-content{
  width: 50%;
  display: flex;
  justify-content: center;
}

.right-content{
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.pokemon-list{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  text-transform: capitalize;
  text-align: center;
  grid-gap: 2rem;
  padding-left: 350px;
}

.pokemon-item{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 35px;
  background-color: #54a3aa;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  padding: 0 1.5rem;

}